<launch>
  <arg name="bag_file" default="/home/robert/catkin_ws/src/bag_crawler/bagfiles/husky_2022-10-27-15-33-57.bag"/>
  <arg name="params" default="$(eval bag_file.split()[0] + '.params')"/>
  <arg name="rviz" default="true" doc="Launch RViz for data visualization or not."/>
  <arg name="rate" default="1."/>
  <include file="$(find bag_crawler)/launch/slam.launch">
     <arg name="cloud" value="points_filtered" />
  </include>
  <include file="$(find bag_crawler)/launch/cloud_filter.launch">
     <arg name="input" value="points" />
     <arg name="output" value="points_filtered" />
  </include>
  <param name="use_sim_time" value="false"/>
  <rosparam command="load" file="$(arg params)"/>
  <node pkg="rosbag" type="record" name="my_rosbag" output="screen" args="--output-name=/home/robert/catkin_ws/src/bag_crawler/bagfiles/tf_full.bag /tf " />
  <node name="rosbag_play" pkg="rosbag" type="play" args="--clock --rate $(arg rate) $(arg bag_file) --delay 0."/>
</launch>
